/** Typography */

h1 {
	font-size: 50px;
	line-height: 54.34px;
	letter-spacing: -0.145px;
}

h2 {
	font-size: 30px;
	font-weight: normal;
	line-height: 1em;
	color: #92adc5;
}

/** Home */


.home .site-container{
	background: #fff;
	max-width: 100%;
}
.home .site-inner {
	font-size: 16px;
	line-height: normal;
	padding-top: 0;
	max-width: 100%;
}
.home .site-inner p {
	margin-bottom: 17px;
}

.intro-section {
	margin-bottom: 50px;
	background: #ffffff;
}
.intro-section h1 {
	font-weight: 300;
	margin-bottom: 40px;
	text-transform: uppercase;
	font-size: 50px;
}
.intro-section h1 span {
	display: block;
	font-size: 53.37px;
	line-height: 64.29px;
	letter-spacing: normal;
}
.home .intro-section p{
	max-width: 420px;
	margin-bottom: 12px;
	font-size: 15.5px;
}

.intro-section h1 span,
.home h2 {
	color: #92adc5;
}
.products-related{
	background: #fcfcfc;
	padding: 60px 0;
}
.img-home-p{
	width: 100%;
	padding: 50px 0;
}
.img-home-p a{
	display: block;
}
.img-home-p img{
	/* width: 100%;
	height: 100%; */
	object-fit: cover;
	object-position: center;
}
.products-related .col-md-6,
.products-related .col-sm-6{
	max-width: 450px;
}
.products-select{
	max-width: 400px;
	padding: 50px 0;
}
.product-custom-tt{
	font-size: 25px;
	font-weight: 400;
	padding-bottom: 40px;
}
.product-custom-tt a{
	color: #313131;
}

.maximun{
	/* white-space: nowrap; */
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 100%;
	max-height: 40px;
    color: #444444;

}
.section-crafting{
	background: #ffffff;
	padding-top: 80px;
}
.section-crafting h2 {
	margin-bottom: 70px;
	text-align: center;
	text-transform: uppercase;
}
.section-crafting .content-img{
	text-align: center;
}
.section-crafting .content-text{
	margin-bottom: 55px;
}

.arrow-link::after{
	content: '';
    background: url(../images/arrow-right.png);
    width: 23px;
    height: 8px;
    display: inline-block;
    background-size: cover;
    margin-left: 10px;
}
.section-crafting{
	padding-bottom: 150px;
}
.cart_gen_mob{
	display: none;
}
#sfm-sidebar .shop_link i,
#sfm-sidebar .shop_link_mobile i{
	float: left;
}
#sfm-sidebar .cart_gen_mob{
	margin-left: 8px;
}
#sfm-sidebar.sfm-compact .sfm-logo {
	margin-top: 30px;
	margin-bottom: 10px;
}
/* # Search Style
---------------------------------------------------------------------------------------------------- */
.search .search-content .featured-img{
	width: 100%;
	height: 220px;
}
.search .product{
	padding: 30px 70px 0px;
}
.search .search-content h2 {
    font-size: 24px;
    text-transform: uppercase;
}
/* # Contact Page
---------------------------------------------------------------------------------------------------- */
.contact-section{
	padding: 98px 0 100px;
}
.contact-section .wrap{
	max-width: 675px;
	background: #fff;
	opacity: .92;
	text-align: center;
	padding: 48px 0 55px;
}
.contact-section .wrap h2{
	text-transform: uppercase;
	margin-bottom: 15px;
}
.contact-section .wrap form{
	max-width: 410px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
.contact-section form p {
    margin-bottom: 0;
}
.contact-section .wpcf7 .ajax-loader{
	display: none;
}
input[type="submit"]{
	height: initial;
}

input, select{
	height: 40px;
}
.contact-section input,
.contact-section select,
.contact-section textarea{
	border: 2px solid #cccccc;
	margin-bottom: 20px;
	text-align: center;
	resize: none;
}
span.wpcf7-not-valid-tip{
	font-size: 12px;
	position: relative;
	top: -10px;
}

.contact-section textarea {
	padding-top: 40px;
    height: 120px;
}
.contact-section textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    line-height: 30px;
}
.contact-section textarea::-webkit-input-placeholder { /* Webkit */
    line-height: 30px;
}
.contact-section textarea:-ms-input-placeholder { /* IE */
    line-height: 30px;
}
.contact-section input[type="submit"]{
	background: #949494;
	width: 100%;
	padding: 7px 15px;
	margin-bottom: 0;
	border: none;
}
.wpcf7-response-output.wpcf7-validation-errors,
.wpcf7-not-valid-tip {
    display: none !important;
}

.contact-section input.wpcf7-not-valid{
	border: 2px solid #f00;
}
/* # Retail Location Page
---------------------------------------------------------------------------------------------------- */
.retail-section{
	background:#fff; 
	padding: 115px 0;
}
.retail-section .wrap{
	max-width: 1000px;
}
.retail-section .intro-retail{
	padding-bottom: 60px;
}
.retail-section .intro-retail .col-img{
	text-align: right;
}
.retail-section .intro-retail h2{
	font-size: 50px;
	line-height: 54px;
	color: #313131;
	font-weight: 300;
	letter-spacing: -0.02em;
	margin-bottom: 52px;
}
.retail-section .intro-retail p{
	font-size: 16px;
	line-height: 22px;
	color: #5c5c5c;
	margin-bottom: 16px;
	max-width: 420px;
}
.retail-section .intro-retail img{
	background-color: #e2e0df;
    width: 360px;
    max-width: 100%;
    min-height: 360px;
	display: inline-block;
	object-fit: cover;
    object-position: center;
}
.retail-section .full-w-image {
	width: 100%;
	height: 300px;
	background-color: #e2e0df;
	display: block;
	background-size: cover;
	background-position-x: 50%;
	background-position-y: 50%;
	background-position-x: 50%;
}
.retail-section .bottom-images{
	padding: 70px 0 35px;
}
.retail-section .bottom-images img{
	background-color: #e2e0df;
	display: inline-block;
	width: 450px;
	min-height: 360px;
	max-width: 100%;
	object-fit: cover;
	object-position: center;
}
.retail-section .bottom-images .col-img{
	text-align: right;
}



/* # Woocommerce Pages
---------------------------------------------------------------------------------------------------- */
td.product-quantity label.screen-reader-text{
	display: none;
}
.woocommerce-error, .woocommerce-info, .woocommerce-message {
    border-top-color: #92adc5;
}
.woocommerce a.button, 
.woocommerce a.button.alt, .woocommerce button.button, 
.woocommerce button.button.alt, .woocommerce input.button, 
.woocommerce input.button.alt, .woocommerce input.button[type="submit"], 
.woocommerce #respond input#submit, .woocommerce #respond input#submit.alt{
	background-color: #92adc5;
}
.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before{
	color: #92adc5;
}
.woocommerce-page .col-1,
.woocommerce-page .col-2{
	max-width: initial;
}
.woocommerce-cart table.cart td.actions .coupon .input-text, 
.woocommerce-checkout table.cart td.actions .coupon .input-text, 
#add_payment_method table.cart td.actions .coupon .input-text{
	border-color: #92adc5;
}
.woocommerce-cart table.cart td.actions .coupon .input-text::placeholder, 
.woocommerce-checkout table.cart td.actions .coupon .input-text::placeholder, 
#add_payment_method table.cart td.actions .coupon .input-text::placeholder{
	color: #92adc5;
	opacity: 1;
}
.woocommerce #respond input#submit:hover, 
.woocommerce a.button, .woocommerce button.button:hover, 
.woocommerce input.button:hover,
.woocommerce a.button, .woocommerce a.button.alt:hover{
    background-color: #8d8d8d;
}
.shop_table thead{
    background-color: #92adc5;
    color: #fff;
}
.woocommerce-cart .cart-collaterals .cart_totals h2{
	margin-bottom: 20px;
}
.woocommerce-cart table.cart {
    font-size: 16px;
}
.woocommerce-cart table.cart td{
	font-size: 1.5rem;
}
.woocommerce-MyAccount-navigation ul {
    border-top: 3px solid #92adc5;
    background-color: #f5f5f5;
}
.woocommerce-MyAccount-navigation ul li a{
	color: #515151;
}
.woocommerce-checkout #wc-stripe-new-payment-method{
	float: left;
}

.woocommerce-checkout .woocommerce-checkout #payment{
	padding: 0px;
}


.page-template-default .entry-content h2{
	margin-bottom: 50px;
}
.page-template-default .entry-content p{
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 22px;
}
.page-template-default .site-inner{
	max-width: 100%;
	background: #fff;
}
.page-template-default main.content{
	max-width: 1020px;
	margin-left: auto;
	margin: auto;
	float: none;
	padding-top: 0px;
}
.page-template-default main.content article{
	padding-top: 40px;
}

/* # Media Queries
---------------------------------------------------------------------------------------------------- */
@media (max-width:1023px){
	.retail-section .intro-retail{
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media (max-width:991px){
	.intro-section h1 span,
	.intro-section h1{
		font-size: 36px;
		margin-bottom: 25px;
		line-height: normal;
	}
	h2{
		font-size: 25px;
	}
	.section-crafting h2{
		margin-bottom: 30px;
	}
	.retail-section .intro-retail{
		padding-left: 0px;
		padding-right: 0px;
	}
	.retail-section .intro-retail h2{
		font-size: 40px;
		line-height: 44px;
	}
}
@media (max-width:767px){
	.retina.logo img{
		max-width: 280px;
	}
	.intro-section {
		margin-bottom: 30px;
	}
	.section-crafting .content-img{
		margin-bottom: 20px;
	}
	.section-crafting .content-text {
		margin-bottom: 30px;
	}
	.section-crafting {
		padding-bottom: 70px;
	}
	.footer-widgets p {
		font-size: 16px;
	}
	#menu-main-menu {
		display: none;
	}
	.cart_gen_mob{
		display: inline-block;
		margin-right: 10px;
	}
	.cart_gen{
		display: none;
	}
	.header-right-widget a .fa {
		float: right;
		top: 5px;
		left: 0px;
	}
	.header-right-widget .shop-header a {
		text-align: right;
	}
	.page-template-default main.content article{
		padding-top: 30px;
	}
	.retail-section .intro-retail .col-img,
	.retail-section .bottom-images .col-md-6 {
		text-align: center;
	}
	.contact-section{
		padding: 30px 0;
	}
	.retail-section .intro-retail h2 {
		font-size: 35px;
		line-height: 38px;
		margin-bottom: 30px;
	}
	.retail-section {
		background: #fff;
		padding: 20px 0;
	}
	.retail-section .intro-retail img{
		min-height: 250px;
	}
	.retail-section .bottom-images {
		padding: 40px 0 15px;
	}
	.products-related{
		padding: 10px 0;
	}
	.product-custom-tt{
		padding-bottom: 10px;
		font-size: 20px;
		font-weight: 600;
	}
	.products-related .col-md-6{
		max-width: 100%;
	}
	.products-select{
		margin: 0 auto;
		max-width: 100%;
	}
	.img-home-p{
		padding: 25px 0;
		text-align: center;
	}
}


@media (max-width:576px){
	.intro-section h1 span,
	.intro-section h1{
		font-size: 30px;
		margin-bottom: 25px;
		line-height: normal;
	}
	.footer-widgets .menu .menu-item {
		display: block;
		border-bottom: 1px solid;
		padding: 10px;
		margin-bottom: 0;
	}
	.footer-widget-area .menu{
		margin-bottom: 30px;
	}
	.retail-section .full-w-image{
		background-attachment: initial !important;
		height: 200px;
	}
	.retail-section .intro-retail img{
		width: 100%;
	}
	.retail-section .bottom-images {
		padding: 40px 15px 15px;
	}
	.retail-section .bottom-images img{
		min-height: 220px;
	}
	.page-template-default main.content article {
		padding-top: 0px;
	}
	.products-select{
		text-align: center;
		padding: 30px 0;
	}
	.img-home-p {
		max-width: 200px;
		margin: 0 auto;
	}
	.section-crafting{
		padding-top: 50px;
		padding-bottom: 60px;
	}
	.woocommerce-checkout .entry{
		padding: 15px
	}
}